main h1 {
  color: rgba(0, 0, 0, 0.84);
  font-family: "Merriweather", "Georgia", serif;
  letter-spacing: normal;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 1rem;
}
main p {
  color: rgba(0, 0, 0, 0.84);
  font-size: 18px;
  font-weight: 200;
}
